<% extra_head_content << capture do -%>
  <%= stylesheet_link_tag 'blacklight_ext_ead_simple', :plugin => :blacklight_ext_ead_simple %>
<% end -%>

<% sidebar_items << capture do -%>
  <%= render :partial => '/catalog/_show_partials/_ead/toc' %>
  <% if @document['dao_b']  %>
    <li><span class="dao">There is digital content available for this collection guide.</span></li>
  <% end -%>
<% end -%>

<% cache(:action_suffix => 'ead_body') do -%>
  <%= render :partial => 'catalog/_show_partials/_ead/ead_body' %>
<% end -%>

